services:
  proxy:
    image: "${LINERA_IMAGE:-linera-faucet}"
    container_name: faucet
    ports:
      - "18080:8080"
    command: [ "./faucet-entrypoint.sh" ]
    volumes:
      - {{ faucet.wallet_dir }}:/config
