upstream {{ service.endpoint }} {
{% for value in service.servers %}
    server {{ value }};
{% endfor %}
}

server {
    listen 80;
    server_name {{ service.domain }};

    location /api/{{ service.api_endpoint }}/ {
        proxy_pass http://{{ service.endpoint }}/;
    }

    location / {
        proxy_pass http://{{ service.endpoint }}/;
    }
}
